*.log
backup/
built/
node_modules/
public/
src/scss/spritesmith-generated/
.DS_Store
*.env*
.idea
.tmp/
npm-debug.log
fastly-ip-addresses.json
__test__/__webdriver__/screenshots/screen
__test__/__webdriver__/screenshots/diff
.vagrant
.vscode/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
!.elasticbeanstalk/config.yml