Resources: 
  AWSEBAutoScalingGroup: 
    Metadata: 
      "AWS::CloudFormation::Authentication": 
        S3Auth: 
          buckets: 
            - elasticbeanstalk-ap-southeast-1-246984644968
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
          type: s3
files: 
  /root/.ssh/github-eb-key:
    authentication: S3Auth
    mode: "000600"
    owner: root
    group: root
    source: "https://elasticbeanstalk-eu-west-1-066223515768.s3-eu-west-1.amazonaws.com/github-eb-key"
  /root/.ssh/config: 
    mode: "000600"
    owner: root
    group: root
    content: |
      Host github.com
        IdentityFile /root/.ssh/github-eb-key
        IdentitiesOnly yes
        UserKnownHostsFile=/dev/null
        StrictHostKeyChecking no